<h2>Tracer</h2>
<p>Tracer finds outdated running applications in your system</p>
<div class="row">
	<div class="col-md-5">
		<table class="table">
			<tr><th>Homepage</th><td><a href="http://tracer-package.com" title="tracer-package.com">tracer-package.com</a></td></tr>
				<tr><th>Documentation</th><td><a href="http://docs.tracer-package.com" title="docs.tracer-package.com">docs.tracer-package.com</a></td></tr>
				<tr><th>Code</th><td><a href="https://github.com/FrostyX/tracer" title="github.com/FrostyX/tracer">github.com/FrostyX/tracer</a></td></tr>
		</table>
	</div>
	<div class="col-md-7">
		<p>Tracer determines which applications use outdated files and prints them. For special kind of applications such as services or daemons, it suggests a standard command to restart it. Detecting whether file is outdated or not is based on a simple idea. If application has loaded in memory any version of a file which is provided by any package updated since system was booted up, tracer consider this application as outdated.</p>
	</div>
</div>
