<table class="table">
	<thead><tr><th>Title</th><th>Created</th><th>Language</th><th>Tags</th></tr></thead>
	<tbody>
		{% for post in site.posts limit:include.limit %}
		<tr>
			<td><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></td>
			<td>{{ post.date | date: "%d. %m. %Y" }}</td>
			<td>{{ post.lang }}</td>
			<td>
				{% for category in post.categories %}
					<button class="btn btn-default btn-xs">{{ category }}</button>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
</table>
