<h2>IT</h2>
<p>My favourite (and currently the only) operating system is GNU/Linux. To be more specific, it's Gentoo which I use for 4 years now, but linux in general, for 7 years. I prefer lightweight applications so on my desktop you can find XMonad, VIM and lot of terminals. See my <a href="/setup" title="OS, Desktop, Apps, etc">setup</a> page.</p>

<p>From the programming languages, Python is my favourite. Also I use PHP (with Laravel) for web applications and LaTeX for papers and presentations. Languages which I use less, but I also know them well are Java, Scheme and Bash. My sources are versioned with GIT.</p>
