---
layout: default
---

<div id="posthead">

	<span class="text-muted">
		{{ page.date | date: "%d. %m. %Y" }} |
		Jakub Kadlčík |
		{{ page.lang }}
	</span>

	<span class="pull-right">
	{% for category in page.categories %}
		<button class="btn btn-default btn-xs">{{ category }}</button>
	{% endfor %}

	<a href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">
		<i class="fa fa-github" aria-hidden="true"></i>
	</a>
	</span>

</div>

{{ content }}

{% include comments.html %}
